.jumbotron.jumbotron-fluid
  .container
    %h2.display-4 Burning Buttons Dashboard
.container
  %table.table
    %thead
      %tr
        %th Full name
        %th Reason of absence
        %th Contacts
    - @employees.each do |e| 
      %tr
        %td= e.full_name
        %td= DashboardHelper.occupation_pretty_format e
        %td= "e.profile.contacts"